<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="login and signup tests" thread-count="2" parallel="false">
       <classes>
           <class name="app.binar.tests.TestContact"/>
        <!--   <class name="app.binar.tests.TestSignUp"/>-->
       </classes>
    </test>
</suite>
